body{
	height:100%;
	background-color: black;
}

.background{
	position:fixed;
	width:100%;
	height:100%;
	opacity:0.5;
	z-index: -1;
}

canvas#triforce{	
	border: 1px white solid;
	background-color: transparent;
	display:block;
	margin: 10% auto 0 auto;
	z-index: 2;
}

#canvas-holder{
	position: relative;
	width:720px;
	display:block;
	margin: 0 auto;
}

/*.-text{
	position: absolute;
	color:white;
	border: 1px white solid;
  padding: 63px 18px;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 24pt;
	font-weight: 900;
	z-index:1;
	opacity: 0.7;
}*/

.about{
  right: 304px;
  top: 160px;
}

.work{
  left: 156px;
  bottom: 74px;
}

.blog{
	right:160px;
	bottom:74px;
}

img.test{
	width: 291px; 
	height: 257px;
	position:absolute;
	clip-path: polygon(50% 0, 0% 100%, 100% 100%);
	z-index: -1;
}

.red{
  top: 27px;
  right: 213px;
}

.blue{
	bottom: 35px;
  left: 20px;
}

.green{
  bottom: 35px;
  right: 20px;
}