/*Header and Footer Fixed*/
body{
	font-family: 'Oswald', sans-serif;
	color:white;
}

.fixed{
	font-family: 'Oswald', sans-serif;
	height:100px;
	background-color: rgba(0, 0, 0, 0.8);
}


/*Header*/
.-header{
	border-bottom: white 1px solid;
}

.brand{
	color:white;
	display: inline-block;
/*	padding-left: 200px;*/
/*	font-weight: 100;*/
	font-size: 48pt;
	height:100%;
}

/*.line{
	position: absolute;
  left: 213px;
  top: 31px;
  width: 132px;
  height: 5px;
  background-color: white;
}*/

.menu{
/*	position: absolute;
	right:200px;
	top:15px;*/
	margin: 14px auto 0 auto;
	height:100%;
	float:right;
	display: inline-block;
	cursor: pointer;
}

.bar{
	width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.head-container{
	height:70px;
}

/*div.bar.one{
	background-color: #CF0123;
}

div.bar.two{
	background-color: #0E7FD6;
}

div.bar.three{
	background-color: #0AB831;
}*/


/*Footer*/
.-footer{
	position:fixed;
	width:100%;
	bottom:0;
	border-top: white 1px solid;
}

.bottom-row{
	position: relative;
}

.bottom-cr{
	display: block;
	font-size: 10pt;
	color:white;
	margin-top:25px;
/*	padding: 30px 0 0 200px;*/
}

.contact-section{
	/*float:right;*/
	position: absolute;
	top:-20px;
	right:10px;
	width:105px;
	/*margin-top: 4px;*/

}

.contacts{
	float:right;
	color:white;
	padding:4px 0 9px 0;
}

.icon{
	float: left;
	width:25px;
	height:25px;
	margin: 0 5px;
}

.github{
	margin-left: 0px;
}

.github:hover{
	opacity:0.5;
	animation: fadeout 0.5s;
	cursor:pointer;
}

.linkedin:hover{
	opacity:0.5;
	animation: fadeout 0.5s;
	cursor:pointer;
}

.email{
  margin: 3px 0 0 5px;
}

.email:hover{
	opacity:0.5;
	animation: fadeout 0.5s;
	cursor:pointer;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}
.icon-holder{
	float:right;
	padding-top: 4px;
	border-top:1px solid white;
}

/*Body*/
body{
	height:100%;
	background-color: black;
}

img.background{
	position:fixed;
	width:100%;
	height:100%;
	opacity:0.5;
	z-index: -1;
}

video.background{
	position: fixed;
	opacity:0.5;
	min-height: 100%;
  min-width: 1920px;
	width: 100%;
  height:auto;
  top:0;
  left:0;
  z-index:-100;
  filter:contrast(125%);
}


/*Triforce Canvas White*/
canvas#triforce{	
	/*border: 1px white solid;*/
	background-color: transparent;
	display:block;
	margin: 1% auto 0 auto;
	z-index: 2;
}

#canvas-holder{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	/*position: relative;*/
	width:720px;
	display:block;
	margin: 0 auto;
}

/*.-text{
	position: absolute;
	color:white;
	border: 1px white solid;
  padding: 63px 18px;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 24pt;
	font-weight: 900;
	z-index:1;
	opacity: 0.7;
}*/

/*.cloud{
	opacity: 0;
	position: fixed;
	width:80%;
	height:auto;
	top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms;
}*/

.about{
  right: 304px;
  top: 160px;
}

.about-cloud{
	width:75%;
	top: 50%;
  left: 52%;
}

.work{
  left: 156px;
  bottom: 74px;
}

.work-cloud{
	width:70%;
	top: 50%;
  left: 49%;
}

.blog{
	right:160px;
	bottom:74px;
}

.cloud{
	opacity: 0;
	height:auto;
	position: fixed;
	transform: translate(-50%, -50%);
  transition: opacity 500ms;
}


/*Triangle Images*/
img.test{
	width: 291px; 
	height: 257px;
	position:absolute;
	clip-path: polygon(50% 0, 0% 100%, 100% 100%);
	z-index: -1;
}

.red{
  top: 27px;
  right: 213px;
}

.blue{
	bottom: 35px;
  left: 20px;
}

.green{
  bottom: 35px;
  right: 20px;
}

.flex-container{ /*remove flex when @1200px width for*/
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.panel{
	border: 1px white solid;
	margin:37% 0 3% 0;
	min-height: 589px;
	background-color:transparent;
}